<!DOCTYPE html>
<html lang="en">
<head>
  <title>SAGE-POPOVICH INC.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}" media="screen" title="no title" charset="utf-8">
</head> 

    <body>
      <div class="container,topNav, fixed-top" >
            <nav class="navbar navbar-default .navbar-fixed-top">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">{% load static %}<img src="{% static 'images//logo.png' %}" /></a>
                  </div>
                  <ul class="nav nav-tabs navbar-center">
                  
                    <li class="nav-item active"><a href="/">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="/summ">Summary</a></li>
                    <li class="nav-item"><a href="/inputData">Enter Data</a></li>
                   
                        <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">LookUp Parts</a>                        
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="/pn">PN</a><div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/desc">Description</a><div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/bulk">Lookup Excel Data</a><div class="dropdown-divider"></div>
                        </div>
                    </li>
                    
                    {% comment %} </ul>

                        <ul class="nav navbar-nav navbar-right"> {% endcomment %}
                                <li><a href="/logout_view">Logout</a></li>
                            {% else %}
                                <li><a href="/log">Login</a></li>
                            {% endif %}
                        </ul>
                </div>
              </nav>
        
      </div>
      <h1 style="margin-left:100px;">Login</h1>
      <hr />
      {% comment %} <div class="signin"> {% endcomment %}
        <div class="row"> 
          <div class="col-sm-7">
            <form action="/login_view" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="signin">
                 {% comment %}
                    <div class="col-sm-4">
                        <label>Enter Username: </label>
                    </div>
                    <div class="col-sm-5">
                      <input type="text" name="username" width="50" />
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                      <label>Enter Password: </label>
                  </div>
                  <div class="col-sm-5">
                    <input type="password" name="password" width="50" />
                  </div>
              </div>
                <div class="row">

                    <div class="col-sm-5">
                      
                        <input type='submit' value='Login' />
                    </div>
                </div> {% endcomment %}

                {{form.as_p}}
                <input type='submit' value='Login' />
                </div>
            </form>
            
          </div>
        </div>
      {% comment %} </div> {% endcomment %}





    </body>
</html>