<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SAGE-POPOVICH INC.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

      {% load static %}
          <link rel="stylesheet" href="{% static 'style.css' %}" media="screen" title="no title" charset="utf-8">
  </head> 
</head> 
  </head> 
</head> 
  </head> 

  <body>
    <div class="container,topNav, fixed-top" >
      <nav class="navbar navbar-default .navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">{% load static %}<img src="{% static 'images//logo.png' %}" /></a>
          </div>
          <ul class="nav nav-tabs navbar-center">
            <li class="nav-item"><a href="/">Home</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="/summ">Summary</a></li>
            <li class="nav-item"><a href="/inputData">Enter Data</a></li>
          
                <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">LookUp Parts</a>

                    
                
                <div class="dropdown-menu">
                <a class="dropdown-item active" href="/pn">PN</a><div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/desc">Description</a><div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/bulk">Lookup Excel Data</a><div class="dropdown-divider"></div>
                </div>
            </li>
            
          {% comment %} </ul>
          <ul class="nav navbar-nav navbar-right"> {% endcomment %}
                <li><a href="/logout_view">Logout</a></li>
                {% else %}
                    <li><a href="/log">Login</a></li>
                {% endif %}
            </ul>
        </div>
      </nav>
      
    </div>
    <div class="spiHeader"><h1 style="text-align: center;">Look up Parts By Part Number</h1></div>
    <hr />
    <div class="row">
      <div class="col-sm-3">
          <ul class="nav flex-column">
              <li class="nav-item active myactive">
                <a class="nav-link" href="/pn">PN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/desc">Description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bulk">Lookup Excel Data</a>
              </li>
          </ul>
      </div>
      <div class="col-sm-9">

          <form action="/pn_search" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              <table style="margin-left:200px;">
              <tr><td>
                      <label>Enter Part Number(s): </label>
                  </td><td>
                    <textarea name="part_num" rows="5" cols="30"></textarea>
                    </td>
                    </tr>
                    <tr>
                    <td colspan="2">
                    
                      <input type='submit' value='Search' />
                    </td>
                    </tr>
                    <tr>
                    <td colspan="2">
                       <h4 style='margin-left:10px; margin-top:40px'>You can enter one PN or many PN's seperated by a '#' </h4>
                  </td>
              </tr>
              </table>
          </form>
          
      </div>
    </div>

    <div>
    <hr />

    </div>

    <div>
      {% for row in excel_data %}
        {% for cell in row %}
            {{ cell }}&nbsp;&nbsp;
        {% endfor %}
      <br>
      {% endfor %}
    </div>
        <!-- </div> -->
     
  </body>
</html>